node_modules
.env
.env.local
.DS_Store

# backend build output
backend/dist
backend/uploads

# frontend build output
frontend/.next
frontend/out
frontend/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
